@import "./../../../../../styles/variables/fonts";
@import "./../../../../../styles/variables/colors";

.wrapper {
    padding: 10px;
    margin: 0 -10px;

    display: flex;
    align-items: center;
}

.container {
    margin: 0 10px;
}

.button {
    padding: 5px;
    margin-right: 3px;
    border-radius: 5px;

    min-width: 30px;
    min-height: 30px;

    color: white;
    background-color: $color-light-gray;

    &:hover {
        background-color: $color-main;
    }
}

.buttonActive {
    background-color: $color-main;
}
