@import "./../../../../styles/variables/fonts";
@import "./../../../../styles/variables/colors";

.wrapper {
    margin-top: 5px;
    border: 1px solid $color-light-gray;
    border-radius: 10px;
}

.editor {
    border-top: 1px solid $color-light-gray;
    padding: 10px;
    min-height: 150px;

    &>* {
        outline: none !important;
    }

    ul,
    ol {
        margin-top: 5px;
        padding-left: 33px;
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }
}