@import "./common/normalize";
@import "./common/fonts";
@import "./common/reset";
@import "./common/container";
@import "./common/pagination";
@import "./common/datepicker";

@import "./variables/fonts";
@import "./variables/colors";

@import "./mixins/scroll";

html {
    margin-right: calc(-1*(100vw - 100%));

    @include scroll;
}

body {
    overflow-x: hidden;
    background-color: $color-bg;

    color: $color-black;
    font-size: 16px;
    font-family: $ff-regular;

}

.keen-slider__slide {
    display: flex;
    align-items: center;
    justify-content: center;

}