@import "./../../../../styles/variables/fonts";
@import "./../../../../styles/variables/colors";

.wrapper {
    position: relative;


    input {
        padding: 10px;
        display: block;
        width: 100%;
        border: 1px solid $color-light-gray;
        border-radius: 5px;
        outline: none;
    }
}

.error {
    font-size: 12px;
    color: $color-red;

    position: absolute;
    top: -15px;
    left: 0;
}

.description {
    color: $color-green;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}