@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.card {
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    background-color: $color-white;

    a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        font-size: 0;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.imageWrapper {
    overflow: hidden;
    border-radius: 20px;
    
    img {
        width: 100%;
        height: auto;

        display: block;
        transition: transform 0.5s;
    }
}

.inner {
    padding: 20px;
    text-align: center;

    p {
        margin-top: 10px;
        margin-bottom: 15px;
        color: $color-gray;
    }
}

@media (max-width: 1024px) {
    .card {
        h3 {
            font-size: 22px;
        }
    }
}

@media (max-width: 625px) {
    .inner {
        padding: 10px;
        padding-bottom: 20px;
    }
}