@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid $color-light-gray;
    border-radius: 20px;

    transition: color 0.3s, background-color 0.3s;

    a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 0;
        opacity: 0;
        z-index: 1;
    }

    img {
        display: block;
        object-fit: cover;
        border-radius: 20px;
    }

    p {
        margin: 0 10px;
    }

    &:hover {
        color: $color-white;
        background-color: $color-light-black;

        .arrowWrapper {
            border-color: $color-main;
            background-color: $color-main;

            svg path {
                fill: $color-white;
            }
        }
    }
}

.arrowWrapper {
    margin: 25px 0;

    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50px;
    border: 2px solid $color-light-gray;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: border-color 0.3s, background-color 0.3s;

    svg path {
        transition: fill 0.3s;
    }
}


.left {
    .arrowWrapper {
        margin-left: 25px;
        transform: rotate(180deg);
    }
}

.right {
    flex-direction: row-reverse;

    .arrowWrapper {
        margin-right: 25px;
    }
}

@media (max-width: 1024px) {
    .arrowWrapper {
        margin: 15px 0;
    }

    .left {
        .arrowWrapper {
            margin-left: 15px;
        }
    }

    .right {
        .arrowWrapper {
            margin-right: 15px;
        }
    }

    .wrapper {
        img {
            width: 85px;
            height: 85px;
        }
    }
}

@media (max-width: 767px) {
    .wrapper {
        p {
            font-size: 14px;
        }
    }

    .arrowWrapper {
        margin: 10px 0;
    }

    .left {
        .arrowWrapper {
            margin-left: 10px;
        }
    }

    .right {
        .arrowWrapper {
            margin-right: 10px;
        }
    }
}