@import "./../../../../styles/variables/fonts";
@import "./../../../../styles/variables/colors";

.wrapper {
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid $color-light-gray;
    max-width: 900px;
}

.buttonsWrapper {
    margin: 0 -10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button {
    margin: 0 10px;
    padding: 10px 20px !important;
}