@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.section {
    padding-top: 100px;
    padding-bottom: 100px;

    header {
        max-width: 65%;

        p {
            margin-top: 10px;

            color: $color-light-gray;
            font-size: 14px;
            line-height: 18px;
        }
    }

    footer {
        margin-top: 35px;
        display: flex;
        justify-content: space-between;

        & > * {
            flex-basis: 49%;
        }
    }
}

.wrapper {
    margin-top: 32px;
}

.descriptionBlock {
    img {
        float: right;

        margin-left: 15px;
        margin-bottom: 15px;

        width: 45%;
        height: auto;
        border-radius: 10px;
        display: block;
    }
}

.descrTitle {
    margin-bottom: 10px;

    color: $color-light-gray;
    font-size: 24px;
    line-height: 29px;
    font-family: $ff-medium;
}

.links {
    margin-top: 50px;

    a {
        margin: 10px 0;
        display: block;
        color: $color-red;
        font-size: 18px;
        line-height: 18px;

        transition: color 0.3s;

        &:hover {
            color: $color-main;
        }
    }
}


@media (max-width: 1024px) {
    .section {
        header {
            max-width: 100%;
        }
    }
    .descriptionBlock {
        img {
            margin: 0;
            display: block;
            float: unset;
            width: 100%;
        }
    }

    .descrTitle {
        margin: 10px 0;
    }
}


@media (max-width: 767px) {
    .section {
        footer {
            flex-direction: column;

            & > * {
                margin-top: 20px;
                flex-basis: 100%;
            }
        }
    }
}