@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.section {
    margin-top: 100px;
    padding-bottom: 100px;
}

.filterPanel {
    margin-top: 40px;
}

.list {
    margin-top: 20px !important;
}

.pagination {
    margin-top: 30px;
}