@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.section {
    padding-top: 120px;
    padding-bottom: 80px;
}

.inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.gallery {
    overflow: hidden;
    flex-basis: 39%;
    width: 39%;
}

.mainInfo {
    flex-basis: 59%;
    width: 59%;
}

@media (max-width: 1024px) {
    .inner {
        flex-direction: column;
    }

    .gallery {
        order: -1;
        flex-basis: 100%;
        width: 100%;
    }

    .mainInfo {
        margin-top: 30px;
        flex-basis: 100%;
        width: 100%;
    }
}