@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.window {
    padding: 30px;
    width: 100%;
    max-width: 330px;
    background-color: white;
    border-radius: 20px;

    position: fixed;
    z-index: 110;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

.inner {
    min-height: 100%;
    text-align: center;

    form {
        margin-top: 35px;

        label {
            position: relative;
            display: block;
        }

        input {
            padding: 13px 17px;

            display: block;
            width: 100%;
            min-height: 45px;
            border-radius: 30px;
            border: 1px solid $color-light-gray;
        }

        button {
            display: block;
            width: 100%;
            margin-top: 15px;
        }
    }
}

.error {
    text-align: left;
    font-size: 12px;
    color: $color-red;

    position: absolute;
    top: -15px;
    left: 15px;

}

.title {
    font-size: 26px;
    font-family: $ff-bold;
}

.subTitle {
    margin-top: 15px;
    font-size: 14px;
    color: $color-light-gray;
}