@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.wrapper {
    padding: 35px 20px;

    width: 90%;
    height: 100%;
    max-width: 1440px;
    max-height: 350px;

    overflow-y: auto;
    background-color: $color-bg;
    border-radius: 0px 0px 10px 10px;

    position: fixed;
    z-index: 120;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.inner {
    height: 100%;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.aside {
    width: 23%;

    a {
        display: block;
        padding: 5px 10px;

        font-size: 18px;
        font-family: $ff-medium;

        transition: color 0.3s;

        &:hover {
            color: $color-main;
        }
    }
}

.categories {
    width: 75%;

    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    li {
        margin: 10px;
        flex-basis: 30%;
    }
}

.card {
    padding-left: 20px !important;
    flex-direction: row-reverse !important;
    align-items: center !important;
    justify-content: space-between !important;
    background-color: white !important;

    img {
        max-width: 80px;
        height: auto;
    }
}

.dop {
    display: none;
}

@media (max-width: 1124px) {
    .card {
        padding-left: 0 !important;
    }
}

@media (max-width: 1024px) {
    .dop {
        margin-top: 30px;
        display: block;

        &:last-child {
            margin-top: 5px;
        }
    }

    .categories {
        li {
            flex-basis: 45%;
        }
    }

    .card {
        flex-direction: row-reverse !important;
    }

    .aside {
        a {
            font-size: 16px;
        }
    }
}

@media (max-width: 650px) {
    .wrapper {
        padding-bottom: 35px;
    }
    
    .inner {
        flex-direction: column;
    }

    .categories,
    .aside {
        width: 100%;
    }

    .categories {
        li {
            flex-basis: 43%;
        }
    }

    .aside {
        margin-top: 20px;
    }
}

@media (max-width: 475px) {
    .categories {
        li {
            margin: 5px 0;
            flex-basis: 100%;
        }
    }
}