@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.window {
    margin: 20px;
    margin-left: 0;
    padding: 20px;
    width: 100%;
    min-height: 80vh;
    border-radius: 10px;
    background-color: $color-white;
}
