@import "./../../../../styles/variables/fonts";
@import "./../../../../styles/variables/colors";

.wrapper {
    margin: 0 auto;
    max-width: 600px;

    & > * {
        display: block;

        margin: 0 auto;
        margin-top: 10px;
    }
}